
.Rproj.user/shared/notebooks/3E8706E7-hlekkir-a-glaerur/1/s/desktop.ini
.Rproj.user/6CC0AAE6/build_options
*.ini
sameinad2023.sav
.Rhistory
.Rhistory
.Rproj.user/6CC0AAE6/sources/per/t/DF1D1FC5
.Rproj.user/6CC0AAE6/sources/per/t/DF1D1FC5-contents
.Rproj.user/6CC0AAE6/sources/session-e3877bba/5846DE99
.Rproj.user/6CC0AAE6/sources/session-e3877bba/5846DE99-contents
.Rproj.user/6CC0AAE6/sources/session-e3877bba/8D7D26EA
.Rproj.user/6CC0AAE6/sources/session-e3877bba/8D7D26EA-contents
.Rproj.user/6CC0AAE6/sources/session-e3877bba/A98332CB-contents
.Rproj.user/6CC0AAE6/sources/session-e3877bba/B970A1E1-contents
.Rproj.user/6CC0AAE6/sources/session-e3877bba/DF1D1FC5
.Rproj.user/6CC0AAE6/sources/session-e3877bba/DF1D1FC5-contents
.Rproj.user/6CC0AAE6/sources/session-e3877bba/lock_file
